name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: diffclass
        auto-activate-base: false
    
    - name: Create and activate conda environment
      run: |
        conda env create -f requirements.yml
        conda init bash
        conda activate diffclass
    
    - name: Install pylint
      run: |
        conda activate diffclass
        pip install pylint
    
    - name: Run pylint analysis
      run: |
        conda activate diffclass
        python -m pylint $(find . -name "*.py" -not -path "./.*" -not -path "*/site-packages/*") --exit-zero
