name: Pylint Code Analysis

on: [push]

jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: diffclass
        environment-file: requirements.yml
        auto-activate-base: false
    
    - name: Install pylint
      run: |
        conda run -n diffclass pip install pylint
   
    - name: Run pylint analysis
      run: |
        conda run -n diffclass python -m pylint $(find . -name "*.py" -not -path "./.*" -not -path "*/site-packages/*") --exit-zero
